<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/webjars/vue/2.6.12/vue.js"></script>
  <script src="/webjars/axios/0.21.1/dist/axios.js"></script>
  <script src="../../js/login.js"></script>
  <link rel="stylesheet" href="../../css/styles.css" />
  <link rel="stylesheet" href="../../css/login.css" />
  <title>ログイン</title>
</head>

<body>
  <div class="content-parent" id="app">
    <div class="left-content">
      <div v-show="isLoading" class="loading-area-parent">
        <div class="loading-area">
          <img src="../../img/loading.gif" alt="loading" />
        </div>
      </div>
      <div class="form-parent">
        <div class="form-title-parent">
          <div class="form-title">
            <img src="../../img/auth-api-logo.svg" alt="auth-api-logo">
          </div>
        </div>
        <div class="form-content">
          <div class="form-input">
            <label for="id">ID</label>
            <input type="tel" id="id" v-model="loginId" @input="inputForm" autocomplete="off">
          </div>
          <div class="form-input">
            <label for="password">Password</label>
            <input type="password" id="password" @input="inputForm" v-model="password" autocomplete="off">
          </div>
          <div class="form-button">
            <button @click="onLoginClicked" :disabled="this.isButtonDisabled">Login</button>
          </div>
          <p v-show="hasError" class="error">
            {{ error }}
          </p>
        </div>
      </div>
    </div>
    <div class="right-content">
      <img :src="loginBg" alt="auth-api-bg">
    </div>
  </div>
</body>

</html>