@charset "utf-8";

.content-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.left-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.loading-area-parent {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.5;
}

.loading-area {
  width: 3rem;
  height: 3rem;
  margin: auto;
}

.loading-area > img {
  width: 48px;
  height: 48px;
}

.right-content {
  width: 50%;
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.form-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 9rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.form-title-parent {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

.form-title {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
}

.form-title > img {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  min-width: 75%;
  max-width: 75%;
  min-height: 75%;
  max-height: 75%;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-input {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.form-button {
  padding-top: 2rem;
}

.right-content > img {
  object-fit: cover;
  max-width: 100%;
  height: 100vh;
  display: none;
}

.error {
  width: 100%;
  margin-top: 1.25rem;
  font-weight: 700;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(220, 38, 38, var(--tw-text-opacity));
}

@media screen and (min-width: 768px) {
  .left-content {
    width: 50%;
  }

  .loading-area-parent {
    width: 50%;
  }

  .form-parent {
    justify-content: start;
    padding-top: 0;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .right-content > img {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .form-parent {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
