@charset "utf-8";

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  height: 100vh;
  margin: 0;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

label {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

input {
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-width: 1px;
  border-radius: 0.25rem;
  font-size: 16px;
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

input:focus {
  outline: none;
}

button {
  width: 100%;
  height: 3rem;
  border-radius: 0.25rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-bg-opacity: 1;
  background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:disabled {
  opacity: 0.4;
  cursor: default;
}

.logout-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
