@charset "utf-8";

.parent {
  height: 100%;
  flex: 1 1 0%;
  overflow-x: hidden;
  overflow-y: auto;
}

.child {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
